<template>
    <div class="row pt-5 justify-content-center">
        <div class="col-12 col-md-5">
            <div class="card bg-dark text-white" >
                <div class="card-body">
                    <h5 class="card-title">Nová kniha</h5>
                    <form @submit.prevent="create()">
                        <div class="mb-3">
                            <label for="title" class="form-label">Názov</label>
                            <input type="text" @change="errors['book.title'] = null" v-model="book.title" class="form-control" id="title" required>
                            <div v-if="errors['book.title']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['book.title']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Autor</label>
                            <select id="author" @change="errors['book.author_id'] = null" v-model="book.author_id" class="form-control" required>
                                <option value="0" selected>Vyberte Autora</option>
                                <option v-for="author in authors" :key="author.id" :value="author.id">{{author.name}} {{author.surname}}</option>
                            </select>
                            <div v-if="errors['book.author_id']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['book.author_id']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Pridať</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
import Books from '@/composables/books'
import Authors from '@/composables/authors'
export default {
    setup() {
        let { book, create, errors } = Books()
        let { authors, getAll } = Authors()
        getAll()
        return {
            book,
            create, 
            authors,
            errors
        }
    }
};
</script>

<style>

</style>