<template>
<div class="row">
    <div class="col-3">
        <div class="card bg-primary text-white" >
            <div class="card-body">
                <h5 class="card-title">Počet knih</h5>
                <p class="card-text">{{statistics.total}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" >
            <div class="card-body bg-success text-white">
                <h5 class="card-title">Knihy na sklade</h5>
                <p class="card-text">{{statistics.stock}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" >
            <div class="card-body bg-danger text-white">
                <h5 class="card-title"> <i class="fas fa-hourglass-start"></i> Požičané kníhy</h5>
                <p class="card-text">{{statistics.is_borrowed}}</p>
            </div>
        </div>
    </div>
</div>
    <div class="row pt-5">
        <div class="col-12">
            <table class="table table-striped table-dark text-center">
                <thead >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kniha</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Stav</th>
                        <th scope="col">Akcie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book in books" :key="book.id">
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author.name }} {{ book.author.surname }}</td>
                        <td >
                            <input class="form-check-input me-2" @change="updateBook(book)" v-model="book.is_borrowed" type="checkbox" role="switch" :id="'flexSwitchCheckChecked' + book.id" :checked="book.is_borrowed">
                            <label class="form-check-label" :for="'flexSwitchCheckChecked' + book.id">
                                <span v-if="book.is_borrowed">
                                    Požičaná
                                </span>
                                <span v-else>
                                    Na sklade
                                </span>
                            </label>
                        </td>
                        <td>
                            <router-link class="btn btn-primary" :to="{name:'Books.Edit', params: {id: book.id}}" > <i class="fas fa-edit"></i></router-link>
                            <button @click="removeBook(book.id)" class="btn btn-danger ms-1"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p v-if="books.length < 1">Nenašli sme žiadnu knihu...</p>
                            <router-link class="btn btn-primary" :to="{name: 'Books.Create'}">Pridať knihu</router-link>
                            <p class="my-0 ms-auto">
                                Strana {{responseData.current_page}} / {{responseData.last_page}}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center">
                    <li v-for="(link, index) in responseData.links" :key="index" class="page-item">
                        <button class="page-link" v-html="link.label" @click="getAll(link.url)" :disable="link.url == null"></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Books from '@/composables/books'
export default {
    setup() {
        let { books, getAll, remove, responseData, statistics, getStatistics, update } = Books()
        getAll()
        getStatistics()
        const updateBook = (book) => {
            update(book).then(() => {
                getStatistics()
            })
        }
        const removeBook = (book) => {
            remove(book).then(() => {
                getStatistics()
            })
        }
        return {
            books,
            getAll,
            removeBook,
            updateBook,
            responseData,
            statistics
        }
    }
};
</script>

