$base-color: #D64045;

.border-radius-none {
    border-radius: 0;
}

.sidebar {
    width: 250px;
    height: 100%;
    ul {
        li {
            
            .search-icon {
                background: #D64045;
                color: #ECFDF9;
                border: none;
            }
            a.nav-link {
                color: #ECFDF9;
                border-radius: 0%;
            }
            a.active {
                background: #D64045 !important;
            }
        }
    }
}
