<template>
    <div class="row pt-5 justify-content-center">
        <div class="col-12 col-md-5">
            <div class="card bg-dark text-white" >
                <div class="card-body">
                    <h5 class="card-title">Nový Autor</h5>
                    <form @submit.prevent="create()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Meno</label>
                            <input type="text" v-model="author.name" class="form-control" id="name">
                            <div v-if="errors['author.name']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['author.name']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="form-label">Priezvisko</label>
                            <input type="text" v-model="author.surname" class="form-control" id="surname">
                            <div v-if="errors['author.surname']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['author.surname']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Vytvoriť</button>
                    </form>
                </div>
                
            </div>
            <div class="alert alert-success mt-5" role="alert" v-if="author.id">
                <h4 class="alert-heading">Autor bol úspešne pridaný!</h4>
                <p class="mb-0">Upravovať pridaného autora možete tu <router-link :to="{ name: 'Books.Edit', params: { id: author.id }}"></router-link> </p>
            </div>
        </div>
    </div>
</template>

<script>
import Authors from '@/composables/authors'
export default {
    setup() {
        let { author, create, errors } = Authors()
        return {
            author,
            create,
            errors
        }
    }
};
</script>

<style>

</style>