<template>
    <div class="row pt-5 justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card bg-dark text-white" >
                <div class="card-body">
                    <h5 class="card-title">{{author.name}} {{author.surname}}</h5>
                    <form @submit.prevent="update()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Meno</label>
                            <input type="text" v-model="author.name" class="form-control" id="name">
                            <div v-if="errors['author.name']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['author.name']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="form-label">Priezvisko</label>
                            <input type="text" v-model="author.surname" class="form-control" id="surname">
                            <div v-if="errors['author.surname']" class="alert alert-danger py-2" role="alert">
                                <ul class="my-0">
                                    <li v-for="(message, index) in errors['author.surname']" :key="index"> {{message}}</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Upraviť</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 justify-content-center">
        <div class="col-8">
            <h2>Knihy autora</h2>
            <table class="table table-striped table-dark text-center">
                <thead >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kniha</th>
                        <th scope="col">Stav</th>
                        <th scope="col">Akcie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="book in author.books" :key="book.id">
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td >
                            <span v-if="book.is_borrowed">
                                <i  class="fas fa-hourglass-start text-danger"></i>
                                Požičaná
                            </span>
                            <span v-else>
                               <i class="fas fa-check text-success"></i>
                                Na sklade
                            </span>
                        </td>
                        <td>
                            <router-link class="btn btn-primary" :to="{name:'Books.Edit', params: {id: book.id}}" > <i class="fas fa-edit"></i></router-link>
                            <button @click="remove(book.id)" class="btn btn-danger ms-1"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import Authors from '@/composables/authors'
export default {
    setup() {
        let { author, update, getAuthor, errors } = Authors()
        getAuthor()
        return {
            author,
            update,
            errors
        }
    }
};
</script>

<style>

</style>