<template>
    <div class="row">
        <div class="col-3">
        <div class="card bg-primary text-white" >
            <div class="card-body">
                <h5 class="card-title">Počet autorov</h5>
                <p class="card-text">{{statistics.total}}</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <table class="table table-striped table-dark text-center">
                <thead >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Počet kníh</th>
                        <th scope="col">Akcie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="author in authors" :key="author.id">
                        <th scope="row">{{ author.id }}</th>
                        <td>{{ author.name }} {{author.surname}}</td>
                        <td>
                            {{author.books_count}}
                        </td>
                        <td>
                            <router-link class="btn btn-primary" :to="{name:'Authors.Edit', params: {id: author.id}}" > <i class="fas fa-edit"></i></router-link>
                            <button @click="removeAuthor(author.id)" class="btn btn-danger ms-1"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="py-2">
                            <p v-if="authors.length < 1">Nenašli sme žiadneho autora...</p>
                            <router-link class="btn btn-primary" :to="{name: 'Authors.Create'}">Pridať autora</router-link>
                            <p class="my-0 ms-auto">
                                Strana {{responseData.current_page}} / {{responseData.last_page}}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center">
                    <li v-for="(link, index) in responseData.links" :key="index" class="page-item">
                        <button class="page-link" v-html="link.label" @click="getAll(link.url)" :disable="link.url == null"></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Authors from '@/composables/authors'
export default {
    setup() {
        let { authors, getAll, remove, responseData, statistics, getStatistics } = Authors()
        getStatistics()
        getAll()
        const removeAuthor = (author) => {
            remove(author).then(() => {
                getStatistics()
            })
        }
        return {
            authors,
            remove,
            getAll,
            responseData,
            statistics,
            removeAuthor
        }
    }
};
</script>
<style lang="scss" scoped>
.page-link {
    cursor: pointer;
}
</style>
