<template>
    <nav aria-label="breadcrumb" class="mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" v-for="(route, index) in matchedRoutes" :key="index">
                <router-link :to="{path: route.path}">{{route.meta.breadcrumb}}</router-link>
            </li>
        </ol>
    </nav>
</template>

<script>
import {useRoute} from 'vue-router'
import {computed} from 'vue'
export default {
    setup() {
        const route = useRoute()
        const matchedRoutes = computed(
            () => { 
                return route.matched
            }
        )
        console.log(matchedRoutes)
        return {
            matchedRoutes
        }
    }
}
</script>

<style>

</style>