<template>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar fixed-top" >
        <router-link :to="{name: 'Index'}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="fas fa-book"></i>
            <span class="ms-2 fs-4">Bookstore</span>
        </router-link>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item my-1">
                <router-link active-class="active" class="nav-link" to="/books">
                    <i class="fas fa-book-open"></i> 
                    Knihy
                </router-link>
            </li>
            <li class="nav-item my-1">
                <router-link active-class="active" class="nav-link" to="/authors">
                    <i class="fas fa-user-edit"></i>
                    Autori
                </router-link>
            </li>
        </ul>
        <hr>
    </div>
</template>

<script>
export default {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
