<template>
<div>
    <nav-bar />
    <div class="container content">
        <breadcrumb></breadcrumb>
        <router-view/>
    </div>
</div>
</template>

<script>
import NavBar from './components/NavBar.vue';
import Breadcrumb from './components/Breadcrumb.vue';
export default {
    components: {
        NavBar,
        Breadcrumb
    }
}
</script>
<style lang="scss" scoped>
.content {
    max-width: calc(100% - 250px);
    margin-left: 250px
}

</style>
